<div class="auth-page">
  <div class="auth-card">
    <header class="auth-header">
      <h1 class="auth-title">{{ title }}</h1>
      <p class="auth-subtitle">Inserisci una password nuova e confermala.</p>
    </header>

    <!-- ERRORE (link invalido o errore BE). Se link invalido non mostro form -->
    <div class="alert alert--error" *ngIf="errorMsg">{{ errorMsg }}</div>

    <!-- SUCCESS -->
    <div class="alert alert--success" *ngIf="success">
      <div class="alert__text">
        Password salvata correttamente. Ora puoi effettuare l’accesso.
      </div>
      <div class="alert__actions">
        <a routerLink="/login" class="link link--primary">Vai al login</a>
      </div>
    </div>

    <!-- FORM: lo nascondo solo se success o link invalido -->
    <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!success && !invalidLink">
      <div class="form-field">
        <label class="form-label" for="password">Password</label>

        <div class="form-row">
          <input
            id="password"
            class="form-input"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Minimo 8 caratteri"
            autocomplete="new-password"
          />
          <button type="button" class="btn btn--ghost" (click)="togglePassword()">
            {{ showPassword ? 'Nascondi' : 'Mostra' }}
          </button>
        </div>

        <small class="form-hint form-hint--error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          La password è obbligatoria:
        </small>
        <small class="form-hint form-hint--error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          minimo 8 caratteri, almeno un numero e un carattere speciale.
        </small>

      </div>

      <div class="form-field">
        <label class="form-label" for="confirmPassword">Conferma password</label>

        <div class="form-row">
          <input
            id="confirmPassword"
            class="form-input"
            [type]="showConfirm ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Ripeti la password"
            autocomplete="new-password"
          />
          <button type="button" class="btn btn--ghost" (click)="toggleConfirm()">
            {{ showConfirm ? 'Nascondi' : 'Mostra' }}
          </button>
        </div>

        <small class="form-hint form-hint--error" *ngIf="form.touched && form.hasError('passwordMismatch')">
          Le password non coincidono.
        </small>
      </div>

      <button class="btn btn--primary btn--block" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Salvataggio...' : 'Salva password' }}
      </button>
    </form>
  </div>
</div>
